@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Merriweather:ital@1&family=Open+Sans:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Merriweather:ital@1&family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    background-image: url(/imagenes/granos4.jpg);
    background-size: cover;
    min-height: 250px ;
    display: flex;
    position: relative;
}

a{
    text-decoration: none;
}

.logo{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items: flex-start; 
    padding: 10px; 
    width: 100%;
}

.logo img{
    width: 48px;
    height: auto;
    margin-right: 7px;
    margin-top: 19vh;
}

.nombre{
    position: absolute;
    color: #fff;
    text-align: center;
    font-weight: 300;
    font-style: italic;
    font-size: 58px;
    margin-top: 80px;
    margin-right: 65px;
    letter-spacing: 2px;
}

.navegacion-principal {
    text-align: center;
    font-family: Merriweather;
    font-style: italic;
    font-size: 25px;
}

.navegacion-principal.contenedor {
    max-width: 120rem;
    margin:0 auto;
}

.nav-bg{
    background-color: #29160c;
}

.navegacion-principal {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.navegacion-principal a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;    
    letter-spacing: 1px;
    font-weight: 200;
}

.navegacion-principal a:hover{
    background-color: #9c7461;
    color: #2e1c13;
    padding: 1rem;
}

body{
    width: 100%;
    height: 100%;
    letter-spacing: 0.03;
    line-height: 1.6;
    background-color: #d7af9e;
    display: flex;
    position: relative;
    flex-direction: column;
    min-height: 100vh;
}

main{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
    margin: 50px;
    align-items: center;
}

.contenedor-galeria{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-galeria figure{
    position: relative;
    width: 350px;
    height: 200px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px;
    cursor: pointer;
}

.contenedor-galeria figure img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}

.contenedor-galeria figure .capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(50.2, 25.1, 0, 0.6);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.contenedor-galeria figure:hover > .capa{
    opacity: 1;
    visibility: visible;
}

.contenedor-galeria figure:hover > .capa h3{
    margin-top: 40px;
    margin-bottom: 15px;
}

.contenedor-galeria figure:hover > img{
    transform: scale(1.2);
}

.contenedor-galeria figure .capa h3{
    color: #fff;
    font-weight: 400;
    font-family: Merriweather;
    margin-bottom: 10px;
    transition: all 500ms ease-out;
    margin-top: 30px;
}

.contenedor-galeria figure .capa p{
    color: #fff;
    font-size: 13px;
    font-family: Open Sans;
    line-height: 1.5;
    width: 100%;
    max-width: 250px;
    margin: auto;
}

footer{
    background-color: #2e1c13;
    height: auto;
    width: 100%;
    padding-top: 10px;
    color: #fff;
}

.logo-pie{
    width: 60px;
}

.pie-pagina{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.grupo1 h4{
    font-size: 20px;
    font-weight: 400;
    font-family: Merriweather;
    text-transform: capitalize;
    line-height: 3rem;
}

.grupo1 p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    font-family: Open Sans;
}

.frase{
    padding-bottom: 10px;
}

.redes{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.redes li{
    margin: 0 15px;
}

.redes a{
    text-decoration: none;
    color: #fff;
}

.redes a i{
    font-size: 20px;
    transition: color 4s ease;
}

.redes a:hover{
    color: #9c7461;
}

.grupo2{
    padding: 5px;
    text-align: center;
}

.grupo2 p{
    font-size: 16px;
    font-family: Open Sans;
    word-spacing: 2px;
    text-align: center;
    padding: 0px 5px;
}


/*media querys*/

@media (max-width: 960px){
    .logo img{
        margin-top: 17.5vh;
    }
    .nombre{
        font-size: 48px;
    }
    .navegacion-principal {
        font-size: 20px;
    }
}

@media (max-width: 820px){
    header{
        min-height: 220px ;
    }
    .logo img{
        width: 44px;
        margin-top: 16vh;
    }
    .nombre{
        font-size:38px;
        margin-right: 60px;
    }
    .navegacion-principal {
        font-size: 18px;
    }
    .navegacion-principal.contenedor {
        max-width: 900rem;
        margin:0 auto;
    }    
    .navegacion-principal {
        padding: 0.5rem;
        display: flex;
        justify-content: space-around;
    }
    .logo-pie{
        width: 45px;
    }
    .grupo1 h4{
        font-size: 18px;
    }    
    .grupo1 p{
        line-height: 18px;
        font-size: 12px;
    }    
    .frase{
        padding-bottom: 5px;
    }    
    .redes li{
        margin: 0 15px;
        font-size: small;
    }
    .grupo2{
        padding: 2px;
        text-align: center;
    }
    .grupo2 p{
        font-size: 11px;
        font-family: Open Sans;
        word-spacing: 1px;
        text-align: center;
        padding: 0px;
    }
}

@media (max-width: 680px){
    header{
        min-height: 180px ;
    }
    .logo img{
        width: 38px;
        margin-top: 14vh;
    }
    .nombre{
        font-size:30px;
        margin-right: 54px;
        margin-top: 70px;
        letter-spacing: 1px;
    }
    .navegacion-principal {
        font-size: 18px;
    }
    .navegacion-principal.contenedor {
        max-width: 800rem;
        margin:0 auto;
    }
    .navegacion-principal {
        padding: 0.5rem;
        display: flex;
        justify-content: space-around;
    }
    .logo-pie{
        width: 45px;
    }
    .grupo1 h4{
        font-size: 18px;
    }    
    .grupo1 p{
        line-height: 18px;
        font-size: 12px;
    }    
    .frase{
        padding-bottom: 5px;
    }    
    .redes li{
        margin: 0 15px;
        font-size: small;
    }
    .grupo2{
        padding: 2px;
        text-align: center;
    }
    .grupo2 p{
        font-size: 11px;
        font-family: Open Sans;
        word-spacing: 1px;
        text-align: center;
        padding: 0px;
    }
}

@media (max-width: 500px){
    header{
        min-height: 180px ;
    }
    .logo{
        display: flex;
        flex-direction: row;
        justify-content:flex-end;
        align-items: flex-start;
        padding: 5px; 
    }
    .logo img{
        width: 28px;
        margin-top: 14vh;
        border-radius: 20px;
        background-color: black;
    }
    .nombre{
        font-size:23px;
        margin-right: 42px;
        margin-top: 70px;
        letter-spacing: 1px;
        background-color: black;
        text-align: center;
        padding: 0 5px;
    }
    .navegacion-principal {
        font-size: 15px;
    }
    .navegacion-principal {
        font-size: 18px;
    }
    .navegacion-principal.contenedor {
        max-width: 800rem;
        margin:0 auto;
    }
    .navegacion-principal {
        padding: 0.5rem;
        display: flex;
        justify-content: space-around;
    }
    main{
        grid-gap: 25px;
        margin: 40px;
    }

    .contenedor-galeria figure{
        width: 350px;
        height: 200px;
    }
    .contenedor-galeria figure:hover > .capa h3{
        margin-top: 45px;
        margin-bottom: 10px;
        font-size: 18px;
    }
    .contenedor-galeria figure .capa p{
        font-size: 11px;
    }
    .logo-pie{
        width: 35px;
    }
    .grupo1 h4{
        font-size: 18px;
        line-height: 1rem;
    }    
    .grupo1 p{
        margin: 5px;
        line-height: 12px;
        font-size: 10px;
    }
    .frase{
        padding-bottom: 5px;
    }    
    .redes li{
        margin: 0 15px;
        font-size: x-small;
    }
    .grupo2{
        padding: 2px;
        text-align: center;
    }
    .grupo2 p{
        font-size: 9px;
        font-family: Open Sans;
        word-spacing: 1px;
        text-align: center;
        padding: 0px;
    }
}