@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Merriweather:ital@1&family=Open+Sans:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Merriweather:ital@1&family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    background-image: url(/imagenes/granos4.jpg);
    background-size: cover;
    height: 250px ;
}

a{
    text-decoration: none;
}

.logo{
    display: flex;
    justify-content: right;
    align-items: right;    
    width: 100%;
}

.logo img{
    width: 50px;
    padding-top: 8.5%;
    margin-right: 470px;
}

.nombre{
    position: absolute;
    color: #fff;
    text-align: center;
    font-weight: 300;
    font-style: italic;
    font-size: 60px;
    padding-top: 7%;
    padding-right: 40px;
    letter-spacing: 2px;
    margin-top: 0%;
}

.navegacion-principal {
    text-align: center;
    font-family: Merriweather;
    font-style: italic;
    font-size: 22px;
}

.contenedor {
    max-width: 120rem;
    margin:0 auto;

}
.nav-bg{
    background-color: #29160c;

}
.navegacion-principal a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.navegacion-principal {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.navegacion-principal a:hover{
    background-color: #9c7461;
    color: #2e1c13;
    padding: 1rem;
}


body{
    width: 100%;
    height: 100%;
    letter-spacing: 0.03;
    line-height: 1.6;
    background-color: #ecb09cea;
    display: flex;
    position: relative;
    flex-direction: column;
    min-height: 100vh;
}

main{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
    margin: 50px;
    align-items: center;
}

.contenedor-galeria{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-galeria figure{
    position: relative;
    width: 400px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px;
    cursor: pointer;
}

.contenedor-galeria figure img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}

.contenedor-galeria figure .capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(50.2, 25.1, 0, 0.6);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.contenedor-galeria figure:hover > .capa{
    opacity: 1;
    visibility: visible;
}

.contenedor-galeria figure:hover > .capa h3{
    margin-top: 40px;
    margin-bottom: 15px;
}

.contenedor-galeria figure:hover > img{
    transform: scale(1.2);
}

.contenedor-galeria figure .capa h3{
    color: #fff;
    font-weight: 400;
    margin-bottom: 10px;
    transition: all 500ms ease-out;
    margin-top: 30px;
}

.contenedor-galeria figure .capa p{
    color: #fff;
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
    max-width: 250px;
    margin: auto;
}


footer{
    background-color: #2e1c13;
    height: auto;
    width: 100%;
    padding-top: 25px;
    color: #fff;
}

.logo-pie{
    width: 60px;
}

.pie-pagina{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.grupo1 h4{
    font-size: 20px;
    font-weight: 400;
    font-family: Merriweather;
    text-transform: capitalize;
    line-height: 3rem;
}

.grupo1 p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    font-family: Open Sans;
}

.frase{
    padding-bottom: 10px;
}

.redes{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.redes li{
    margin: 0 15px;
}

.redes a{
    text-decoration: none;
    color: #fff;
}

.redes a i{
    font-size: 20px;
    transition: color 4s ease;
}

.redes a:hover{
    color: #9c7461;
}

.grupo2{
    padding: 10px 10px;
    text-align: center;
}

.grupo2 p{
    font-size: 16px;
    font-family: Open Sans;
    word-spacing: 2px;
    text-align: center;
    padding: 15px 10px;
}
