@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Open+Sans:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Merriweather:ital@1&family=Open+Sans:ital,wght@0,300;1,300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h3 {
    text-align: right;
    color: #fff;
    font-family: Merriweather, bold;
    background-image: url(/Imagenes/granos4.jpg);
    background-size: 100%;
    height: 250px;
    margin-bottom: 0%;
}

.nombre{
    font-weight: 300;
    font-style: italic;
    font-size: 50px;
    padding-top: 7%;
    padding-right: 100px;
    letter-spacing: 3px;
    margin-top: 0%;
}

.titulo {
    text-align: center;
    font-size: 40px;
    font-family: Merriweather;
    font-size: 55px;
    font-weight: 600;
    letter-spacing: 1px;
    color:#2e1c13;
    margin-top: 30px;
    margin-bottom: 15px;
}

.navegacion-principal {
    text-align: center;
    font-family: Merriweather;
    font-style: italic;
    font-size: 22px;
    margin-top: 0%;
}

.contenedor {
    max-width: 120rem;
    margin:0 auto;
}

.nav-bg{
    background-color: #3f2519;
}

.navegacion-principal a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
         
.navegacion-principal {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}
        
.navegacion-principal a:hover{
    background-color: #9c7461;
    color: #2e1c13;
}

body {
    width: 100%;
    height: 100%;
    letter-spacing: 0.03;
    line-height: 1.6;
    background-image: linear-gradient(135deg, #fdfcfb 0%, #ecb09cea 100% ) ;
    display: flex;
    flex-direction: column;
    min-height: 100vh;


}
.galeria img {
    box-shadow: 0 8px 10px -4px rgba(0,0,0,.6);
    border-radius: 15px;

} 

.materialbox-caption {
    bottom: 30px;
    right: 0;
    width: 40%;
    height:auto ;
    padding: 10px;
    margin: auto;
    background-color: #2e1c13;
    box-shadow: 5px 5px #fff;
    font-size: 20px;
    color: #fff;
    line-height: 28px;
}

.galeria .col {
    margin-bottom: 20px;



}

@media screen and (max-width:600px){
    .materialbox-caption {
        width: 90%;
    }

}

@media screen and (max-width: 992px) {
    .materialbox-caption {
        width: 70%;
    }

}

/*Footer*/

.pie-pagina{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Meriweather;
    background-color: #2e1c13;
    bottom: 0;
    width: 100%;
    margin-top: auto;
    
}

.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(3, 1fr);
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img{
    width: 150px;
}

.pie-pagina .grupo-1 .box .pie1{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
    font-family: Merriweather, cursive;
    text-decoration: none;
    text-align: center;
}

.pie-pagina .grupo-1 .box .pie2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
    font-family: Merriweather, cursive;
    text-decoration: none;
    padding-left: 30px;
}

.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
    font-family: Open Sans;
    text-align: center;
}

.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    margin-right: 10px;
    background-color: #29160c;
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover{
    color: rgb(138, 138, 138)
}

.pie-pagina .grupo-2{
    background-color: #29160c;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.pie-pagina .grupo-2 small{
    font-size: 15px;
    font-family: Open Sans;
}
