@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Merriweather:ital@1&family=Open+Sans:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Open+Sans:ital,wght@0,300;1,300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body {
    width: 100%;
    height: 100%;
    letter-spacing: 0.03px;
    line-height: 1.6;
    background-color: #d7af9e;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-image: url(/imagenes/granos4.jpg);
    background-size: cover;
    min-height: 250px;
    display: flex;
    position: relative;
}

a {
    text-decoration: none;
    color: black;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 10px;
    width: 100%;
}

.logo img {
    width: 48px;
    height: auto;
    margin-right: 7px;
    margin-top: 17vh;
}

.nombre {
    position: absolute;
    color: #fff;
    text-align: center;
    font-weight: 300;
    font-style: italic;
    font-size: 58px;
    margin-top: 80px;
    margin-right: 65px;
    letter-spacing: 2px;
}

.navegacion-principal {
    text-align: center;
    font-family: Merriweather;
    font-style: italic;
    font-size: 22px;
}

.contenedor {
    max-width: 120rem;
    margin:0 auto;

}
.nav-bg{
    background-color: #29160c;

}
.navegacion-principal a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.navegacion-principal {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navegacion-principal a:hover{
    background-color: #9c7461;
    color: #2e1c13;
    padding: 1rem;
}
        /*HEADER HASTA ACÁ OK */

        /*ARMADO DE BODY */

h2{
    font-family: Merriweather, bold ;
    padding: 20px 0;
    margin-top: 20px;
    font-size: 35px;
    text-decoration: underline;
    text-align:center;
}

        /*GALERIA */

.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
    width: 95%;
    margin: auto;
    grid-gap: 10px ;
    padding: 40px 0;
    overflow: hidden;


}

.galeria div{
    display: flex;
    flex-direction: column;
}

.galeria div a img {
    width: 100%;
    vertical-align: top;
    object-fit: cover;
    transition: transform 0.5s;

}

.galeria div a {
    display: block;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5) ;

}

.galeria div span {
    width: 100%;
    padding: 5px;
    background-color: #2e1c13;
    color: white;
    font-family: merriweather;
    
    /* display: flex; */
}

.galeria a:hover img {
    filter: blur(2px);
    transform: rotate(10deg) scale(1.3);

}

.light-box {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    transition: transform .3s ease-in-out;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
            
}

.light-box img {
    width: 50vw;
    max-height: 90vh;
}

.light-box:target{
    transform: scale(1);
}

.close{
    display: block;
    position: absolute;
    top: 40px;
    right: 40px;
    background:bisque;
    color: #2e1c13;
    text-decoration: none;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;

}

.next{
    display: block;
    background: bisque;
    color: #2e1c13;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
}

/*boton*/

.container2{
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin:0 auto;
}

.boton2{
    text-decoration: none;
    border-radius: 5px;
    padding: 20px 15px;
    display: inline-block;
    font-family: merriweather;
    font-size: 25px;
    color: white;
    background-color: #2e1c13;
    margin-bottom: 50px;
}

.boton2:hover{
    background-color: #755140;
}


    /*ABRO FOOTER */


footer{
    background-color: #2e1c13;
    height: auto;
    width: 100%;
    padding-top: 10px;
    color: #fff;
}
    
.logo-pie{
    width: 60px;
}
    
.pie-pagina{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
    
.grupo1 h4{
    font-size: 20px;
    font-weight: 400;
    font-family: Merriweather;
    text-transform: capitalize;
    line-height: 3rem;
}
    
.grupo1 p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    font-family: Open Sans;
}
    
.frase{
    padding-bottom: 10px;
}
    
.redes{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
    
.redes li{
    margin: 0 15px;
}
    
.redes a{
    text-decoration: none;
    color: #fff;
}
    
.redes a i{
    font-size: 20px;
    transition: color 4s ease;
}
    
.redes a:hover{
    color: #9c7461;
}
    
.grupo2{
    padding: 5px;
    text-align: center;
    }
    
.grupo2 p{
    font-size: 16px;
    font-family: Open Sans;
    word-spacing: 2px;
    text-align: center;
    padding: 0px 5px;
}

/*MEDIAS QUERYS*/
@media screen and (max-width: 480px) {
    .navegacion-principal {
        flex-direction: column;
        justify-content: space-between;
    }
    .galeria{ 
        flex-wrap: wrap;
    
      }  
    .seccion {
        flex-direction: row;
        align-items: center;
        
      }
    .cafe{ 
        background-size: cover;
        height: 600px;
        position:relative
    }}

@media screen and (min-width: 960px) {
    .navegacion-principal {
        flex-direction: row;
        justify-content: space-between;
    }
    .galeria{ 
        flex-wrap: wrap;
        
    }  
    .seccion {
        flex-direction: row;
        align-items: center;
            
    }
    .cafe{ 
        background-size: cover;
        height: 600px;
        position:relative
    }
}
@media screen and (max-width: 400px){
    .galeria{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    .close {
        top: 20px;
        right: 20px;
    }
}

@media screen and (max-width: 980px){
    .galeria{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    .close {
        top: 20px;
        right: 20px;
    }
}