@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Merriweather:ital@1&family=Open+Sans:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Open+Sans:ital,wght@0,300;1,300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    background-image: url(/imagenes/granos4.jpg);
    background-size: cover;
    height: 250px ;
}

a{
    text-decoration: none;
}

.logo{
    display: flex;
    justify-content: right;
    align-items: right;    
    width: 100%;
}

.logo img{
    width: 50px;
    padding-top: 7.5%;
    margin-right: 475px;
}

.nombre{
    position: absolute;
    color: #fff;
    text-align: center;
    font-weight: 300;
    font-style: italic;
    font-size: 60px;
    padding-top: 7%;
    padding-right: 40px;
    letter-spacing: 2px;
    margin-top: 0%;
}

.navegacion-principal {
    text-align: center;
    font-family: Merriweather;
    font-style: italic;
    font-size: 22px;
}

.contenedor {
    max-width: 120rem;
    margin:0 auto;

}
.nav-bg{
    background-color: #29160c;

}
.navegacion-principal a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.navegacion-principal {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navegacion-principal a:hover{
    background-color: #9c7461;
    color: #2e1c13;
    padding: 1rem;
}

@media (max-width: 480px) {
    .navegacion-principal {
    flex-direction: row;
    justify-content: space-between;
    }
    .galeria{ 
        flex-wrap: wrap;
    
      }  
      .seccion {
          flex-direction:row;
        align-items: center;
        
      }
     .cafe{ 
        background-size: cover;
        height: 600px;
        position:relative
    }}

    @media (min-width: 960px) {
        .navegacion-principal {
        flex-direction: row;
        justify-content: space-between;
        }
        .galeria{ 
            flex-wrap: wrap;
        
          }  
          .seccion {
              flex-direction:row;
            align-items: center;
            
          }
         .cafe{ 
            background-size: cover;
            height: 600px;
            position:relative
        }}

        /*HEADER HASTA ACÃ OK */

        /*ARMADO DE BODY */

        h2{
            font-family: Merriweather, bold ;
            padding: 20px 0;
            font-size: 25px;
            text-align:center;
        }

        body {
            width: 100%;
            height: 100%;
            letter-spacing: 0.03;
            line-height: 1.6;
            background-color:  #ecb09cea 100% ;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        /*GALERIA */

        .galeria {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
            width: 95%;
            margin: auto;
            grid-gap: 10px ;
            padding: 40px 0;
            overflow: hidden;


        }

        .galeria img {
            width: 100%;
            vertical-align: top;
            object-fit: cover;
            transition: transform 0.5s;

        }

        .galeria > a {
            display: block;
            position: relative;
            overflow: hidden;
            box-shadow: 0 0 6px rgba(0, 0, 0, .5) ;

        }

        .galeria a:hover img {
            filter: blur(2px);
            transform: rotate(10deg) scale(1.3);

        }

        .light-box {
            position: fixed;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, .5);
            transition: transform .3s ease-in-out;
            width: 100%;
            height: 100vh;
            z-index: 1000;
            display: flex;
            justify-content: center;
            align-items: center;
            transform: scale(0);
            
        }

        .light-box img {
            width: 75vw;
            max-height: 70vh;
        }

        .light-box:target{
            transform: scale(1);
        }

        .close{
            display: block;
            position: absolute;
            top: 40px;
            right: 40px;
            background:bisque;
            color: #2e1c13;
            text-decoration: none;
            width: 40px;
            height: 40px;
            text-align: center;
            line-height: 40px;
            border-radius: 50%;

        }

        .next{
            display: block;
            background: bisque;
            color: #2e1c13;
            height: 30px;
            width: 30px;
            line-height: 30px;
            text-decoration: none;
            text-align: center;


        }

        @media screen and (max-width: 400px){
            .galeria{
                grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            }
            .close {
                top: 20px;
                right: 20px;
            }
        }

















        /*ABRO FOOTER */


footer{
    background-color: #2e1c13;
    height: auto;
    width: 100%;
    padding-top: 25px;
    color: #fff;
}

.logo-pie{
    width: 60px;
}

.pie-pagina{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.grupo1 h4{
    font-size: 20px;
    font-weight: 400;
    font-family: Merriweather;
    text-transform: capitalize;
    line-height: 3rem;
}

.grupo1 p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    font-family: Open Sans;
}

.frase{
    padding-bottom: 10px;
}

.redes{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.redes li{
    margin: 0 15px;
}

.redes a{
    text-decoration: none;
    color: #fff;
}

.redes a i{
    font-size: 20px;
    transition: color 4s ease;
}

.redes a:hover{
    color: #9c7461;
}

.grupo2{
    padding: 10px 10px;
    text-align: center;
}

.grupo2 p{
    font-size: 16px;
    font-family: Open Sans;
    word-spacing: 2px;
    text-align: center;
    padding: 15px 10px;
}