@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Open+Sans:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Merriweather:ital@1&family=Open+Sans:ital,wght@0,300;1,300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1; /*SOLUCION al espacio blanco arriba del footer*/
}

header{
    background-image: url(/imagenes/granos4.jpg);
    background-size: cover;
    height: 250px ;
}

a{
    text-decoration: none;
}

.logo{
    display: flex;
    justify-content: right;
    align-items: right;    
    width: 100%;
}

.logo img{ 
    width: 50px;
    padding-top: 7px;
    margin-right: 400px
}

.nombre{
    position: absolute;
    color: #fff;
    text-align: center;
    font-weight: 300;
    font-style: italic;
    font-size: 50px;
    padding-right: 60px;
    padding-top: 10px;
    
}

.nav-bg{
    background-color: #29160c;

}
.navegacion-principal {
    text-align: center;
    font-family: Merriweather;
    font-style: italic;
    font-size: 22px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenedor {
    max-width: 120rem;
    margin:0 auto;

}

.navegacion-principal a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.navegacion-principal a:hover{
    background-color: #9c7461;
    color: #2e1c13;
    padding: 1rem;
}

body{
    width: 100%;
    height: 100%;
    letter-spacing: 0.03;
    line-height: 1.6;
    background-color: #ecb09cea;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.titulo{
    text-align: center;
    font-size: 40px;
    font-family: Merriweather;
    font-size: 55px;
    font-weight: 600;
    letter-spacing: 1px;
    color:#2e1c13;
    margin-top: 30px;
    margin-bottom: 15px;
}

.formulario{
    width: 400px;
    margin: auto;
    background-color: #2e1c13;
    padding: 20px 40px;
    box-sizing: border-box;
    margin-top: 100px;
    border-radius: 10px;
    font-family: 'Combo', cursive;
    
}

h2{
    color: #fff; 
    text-align: center;
    
}

input, textarea{
    width: 100%;
    margin-bottom: 30px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
    font-family: 'Combo', cursive;
    
}

textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}

#boton{
    padding: 20px;
    background-color:#9c7461; 
}

#boton:hover {
    cursor: pointer
}

footer{
    background-color: #2e1c13;
    height: auto;
    width: 100%;
    padding-top: 25px;
    color: #fff;
}

.logo-pie{
    width: 60px;
}

.pie-pagina{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.grupo1 h4{
    font-size: 20px;
    font-weight: 400;
    font-family: Merriweather;
    text-transform: capitalize;
    line-height: 3rem;
}

.grupo1 p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    font-family: Open Sans;
}

.frase{
    padding-bottom: 10px;
}

.redes{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.redes li{
    margin: 0 15px;
}

.redes a{
    text-decoration: none;
    color: #fff;
}

.redes a i{
    font-size: 20px;
    transition: color 4s ease;
}

.redes a:hover{
    color: #9c7461;
}

.grupo2{
    padding: 10px 10px;
    text-align: center;
}

.grupo2 p{
    font-size: 16px;
    font-family: Open Sans;
    word-spacing: 2px;
    text-align: center;
    padding: 15px 10px;
}
/* responsive */

@media (min-width: 780px){
    .navegacion-principal {
        flex-direction: row;
        justify-content: space-between;
        }
        .formulario {
        width: 800px;
        margin: auto;
}
.nombre{
    padding-top: 7%;
    padding-right: 40px;
    letter-spacing: 2px;
    margin-top: 0%;
}
.logo img{
    width: 50px;
    padding-top: 7.5%;
    margin-right: 475px;
}

}