@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Open+Sans:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Merriweather:ital@1&family=Open+Sans:ital,wght@0,300;1,300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1; /*SOLUCION al espacio blanco arriba del footer*/
}

h3 {
    text-align: center;
    font-family: Merriweather;
    font-size: 40px;
    color: #fff;
}


body{
    background-image: url(../Imagenes/granos6.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    display:block;
    flex-direction: column;
    min-height: 100vh;
}
.navegacion-principal {
    text-align: center;
    font-family: Merriweather;
    font-style: italic;
    font-size: 22px;
    margin-top: 0%;
}

.contenedor {
    max-width: 120rem;
    margin:0 auto;
}

.nav-bg{
    background-color: #3f2519;
}

.navegacion-principal a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
         
.navegacion-principal {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}
        
.navegacion-principal a:hover{
    background-color: #9c7461;
    color: #2e1c13;
}



form{
    width: 800px;
    margin: auto;
    background-color: #2e1c13;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 50px;
    border-radius: 7px;
    font-family: 'Combo', cursive;
}
h2{
    color: #fff; 
    text-align: center;
    
}
input, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
    font-family: 'Combo', cursive;
    
}
textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}
#boton{
    padding: 20px;
    background-color:#9c7461; 
}
#boton:hover {
    cursor: pointer
}

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Open+Sans:ital,wght@0,300;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: open Sans;
}

.pie-pagina{
    background-color: #2e1c13;
    bottom: 0;
    width: 100%;
    
}

.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(3, 1fr);
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img{
    width: 150px;
}

.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    margin-right: 10px;
    background-color: #29160c;
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover{
    color: #9c7461
}

.pie-pagina .grupo-2{
    background-color: #29160c;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.pie-pagina .grupo-2 small{
    font-size: 15px;
}
