@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Merriweather:ital@1&family=Open+Sans:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Open+Sans:ital,wght@0,300;1,300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    background-image: url(/imagenes/granos4.jpg);
    background-size: cover;
    height: 250px ;
}

a{
    text-decoration: none;
}

.logo{
    display: flex;
    justify-content: right;
    align-items: right;    
    width: 100%;
}

.logo img{
    width: 50px;
    padding-top: 7.5%;
    margin-right: 475px;
}

.nombre{
    position: absolute;
    color: #fff;
    text-align: center;
    font-weight: 300;
    font-style: italic;
    font-size: 60px;
    padding-top: 7%;
    padding-right: 40px;
    letter-spacing: 2px;
    margin-top: 0%;
}

/*El .titulo solo esta en Historia*/
.titulo {
    text-align: center;
    font-size: 40px;
    font-family: Merriweather;
    font-size: 55px;
    font-weight: 600;
    letter-spacing: 1px;
    color:#2e1c13;
    margin-top: 30px;
    margin-bottom: 15px;
}


.navegacion-principal {
    text-align: center;
    font-family: Merriweather;
    font-style: italic;
    font-size: 22px;
}

.contenedor {
    max-width: 120rem;
    margin:0 auto;

}
.nav-bg{
    background-color: #29160c;

}
.navegacion-principal a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.navegacion-principal {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.navegacion-principal a:hover{
    background-color: #9c7461;
    color: #2e1c13;
    padding: 1rem;
}

body{
    background-image: url(/Imagenes/papel1.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.img-cafeto{
    text-align: center;
}
.cafeto{
    width: 60%;
    height: auto;
}

.histo{
    background-color: #3f2519;
    margin: 0px 10px;
    padding: 5px;
    border-radius: 5px;
}

.fruto{
    width: 250px;
    margin: 10px;
    float: left;
    margin-right: 15px;
}

.montaña{
    width: 470px;
    margin: 15px;
    float: right;
    margin-left: 15px;
}

.dibujo{
    width: 460px;
    margin: 15px;
    float: left;
    margin-right: 15px;
}

.cinturon{
    height: 80vh;
    margin: 15px;
    padding-left: 115px;
    display: flex;
    justify-content: center;
}

.granoscafe{
    width: 320px;
    margin: 15px;
    float: left;
    margin-right: 15px;
}

.granoscafe1{
    width: 420px;
    margin: 15px;
    float: right;
    margin-left: 15px;
}

h2{
    font-family: Merriweather, cursive;
    text-align: center;
    font-size: 35px;
    letter-spacing: 1px;
    margin: 3%;
    text-decoration: underline;
    color: #29160c;
}

p{
    font-family: Open Sans;
    font-size: 16px;
    line-height: 1.5;
    margin: 10px 10px;
    padding: 5px;
    text-align: justify;
    color: #fff;
}

.subhisto{
    font-family: Merriweather, cursive;
    font-size: 20px;
    color: #9c7461;
    margin-left: 15px;
}

section.galeria{
    margin: 10px 20px;
    box-shadow: 0 4px 8px 0 rgb(58, 19, 19);
    float: left;
    width: 300px;
}

section.galeria img{
    width: 100%;
    height: auto;
}

section.galeria:hover{
    border: 1px solid rgb(105, 33, 33);
    transform: rotate(-3deg);
}

section.pie{
    text-align: center;
    text-shadow: 2px 2px 5px rgb(63, 6, 6);
    padding: 10px;
    background-color: rgb(238, 232, 232);
}
h3{
    font-family: Merriweather, cursive;
    font-size: 30px;
    letter-spacing: 1px;
    margin: 15px;
    padding: 5px;
    text-decoration: underline;
    color: #29160c;
}

/*FOOTER*/
footer{
    background-color: #2e1c13;
    height: auto;
    width: 100%;
    padding-top: 25px;
    color: #fff;
}

.logo-pie{
    width: 60px;
}

.pie-pagina{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.grupo1 h4{
    font-size: 20px;
    font-weight: 400;
    font-family: Merriweather;
    text-transform: capitalize;
    line-height: 3rem;
}

.grupo1 p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    font-family: Open Sans;
}

.frase{
    padding-bottom: 10px;
}

.redes{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.redes li{
    margin: 0 15px;
}

.redes a{
    text-decoration: none;
    color: #fff;
}

.redes a i{
    font-size: 20px;
    transition: color 4s ease;
}

.redes a:hover{
    color: #9c7461;
}

.grupo2{
    padding: 10px 10px;
    text-align: center;
}

.grupo2 p{
    font-size: 16px;
    font-family: Open Sans;
    word-spacing: 2px;
    text-align: center;
    padding: 15px 10px;
}

