@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Merriweather:ital@1&family=Open+Sans:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Merriweather:ital@1&family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #d7af9e;
}

header {
    background-image: url(/imagenes/granos4.jpg);
    background-size: cover;
    min-height: 250px;
    display: flex;
    position: relative;
}

a {
    text-decoration: none;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 10px;
    width: 100%;
}

.logo img {
    width: 48px;
    height: auto;
    margin-right: 7px;
    margin-top: 15vh;
}

.nombre {
    position: absolute;
    color: #fff;
    text-align: center;
    font-weight: 300;
    font-style: italic;
    font-size: 58px;
    margin-top: 80px;
    margin-right: 65px;
    letter-spacing: 2px;
}

.navegacion-principal {
    text-align: center;
    font-family: Merriweather;
    font-style: italic;
    font-size: 25px;
}

.navegacion-principal.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

.nav-bg {
    background-color: #29160c;
}

.navegacion-principal {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.navegacion-principal a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
    font-weight: 200;
}

.navegacion-principal a:hover {
    background-color: #8f7367;
    color: #2e1c13;
    padding: 1rem;
}

/*MAIN*/
/*El .titulo solo esta en Historia*/
.titulo {
    text-align: center;
    font-family: Merriweather;
    font-size: 65px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #2e1c13;
    margin-top: 3%;
    margin-bottom: 15px;
}

.intro p{
    color: #29160c;
    font-family: Open Sans;
    font-size: 17px;
    font-weight: 600;
    margin: 15px;
    line-height: 1.5;
    text-align: justify;
}

.video{
    width: 560px; 
    height: 315px;
    position: relative;
    display: block;
    margin: auto;
}

.video iframe{
    position: absolute;
    width: 100%;
    height: 100%;
}

h2 {
    font-family: Merriweather, cursive;
    text-align: center;
    font-size: 40px;
    letter-spacing: 1px;
    margin: 1%;
    text-decoration: underline;
    color: #fff;
}

p {
    font-family: Open Sans;
    font-size: 16px;
    line-height: 1.5;
    margin: 10px 10px;
    padding: 5px;
    text-align: justify;
    color: #fff;
}

.histo {
    background-color: #3f2519;
    margin: 30px 10px;
    padding: 5px;
    border-radius: 5px;
    border: solid 3px lightblue;
}

.histo_mapa {
    background-color: #3f2519;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    border-radius: 5px;
}

.fruto {
    width: 18%;
    min-width: 171px;
    margin: 10px;
    float: left;
    margin-right: 15px;
}

.montaña {
    width: 40%;
    min-width: 400px;
    margin: 15px;
    margin-bottom: 0;
    float: right;
}

.dibujo {
    width: 25%;
    min-width: 200px;
    margin: 15px;
    float: left;
}

.cinturon {
    width: 50%;
    min-width: 400px;
    margin: 15px auto 5px auto;
    margin-inline-start: 25%;
}

.granoscafe {
    width: 30%;
    min-width: 270px;
    margin: 20px 15px;
    float: right;
}

.granoscafe1 {
    width: 30%;
    min-width: 300px;
    margin: 15px;
    float: left;
}

.subhisto {
    font-family: Merriweather, cursive;
    font-size: 25px;
    color: #9c7461;
    margin-left: 15px;
    letter-spacing: 1px;
    margin: 15px;
    padding: 5px;
}

/*FOOTER*/

footer {
    background-color: #2e1c13;
    height: auto;
    width: 100%;
    padding-top: 5px;
    color: #fff;
}

.logo-pie {
    width: 60px;
}

.pie-pagina {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.grupo1 h4 {
    font-size: 20px;
    font-weight: 400;
    font-family: Merriweather;
    text-transform: capitalize;
    line-height: 2rem;
}

.grupo1 p {
    max-width: 500px;
    margin: 5px auto;
    text-align: center;
    line-height: 25px;
    font-size: 14px;
    font-family: Open Sans;
}

.frase {
    padding-bottom: 10px;
}

.redes {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.redes li {
    margin: 0 15px;
}

.redes a {
    text-decoration: none;
    color: #fff;
}

.redes a i {
    font-size: 20px;
    transition: color 4s ease;
}

.redes a:hover {
    color: #9c7461;
}

.grupo2 {
    padding: 5px;
    text-align: center;
}

.grupo2 p {
    font-size: 16px;
    font-family: Open Sans;
    word-spacing: 2px;
    text-align: center;
    padding: 0px 5px;
}

/*MEDIA QUERIES*/

@media (max-width: 1200px){
    .logo img{
        margin-top: 17vh;
    }
    .granoscafe {
        width: 30%;
        margin: 50px 15px;
    }    
}

@media (max-width: 960px){
    .logo img{
        margin-top: 16vh;
    }
    .nombre{
        font-size: 48px;
    }
    .navegacion-principal {
        font-size: 20px;
    }
    .titulo {
        font-size: 55px;
    }
    
    .intro p{
        font-size: 16px;
    }
    h2{
        font-size: 30px;
    }
    p {
        font-size: 15px;
        line-height: 2;
    }
    .fruto {
        margin-top: 10px;
        margin-bottom: 0;
        width: 20%;
    }
    .montaña {
        width: 40%;
        margin-top: 50px;
    }
    .dibujo {
        margin-top: 15px;
        margin-bottom: 0px;
        width: 28%;
    }
    .granoscafe {
        width: 30%;
        margin: 15px 15px;
    }
    
    .subhisto {
        font-size: 23px;
        margin: 10px;
    }
}