@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Open+Sans:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Merriweather:ital@1&family=Open+Sans:ital,wght@0,300;1,300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h3 {
    text-align: right;
    color: #fff;
    font-family: Merriweather, bold;
    background-image: url(/Imagenes/granos4.jpg);
    background-size: 100%;
    height: 250px;
    margin-bottom: 0%;
}

.nombre{
    font-weight: 300;
    font-style: italic;
    font-size: 50px;
    padding-top: 7%;
    padding-right: 100px;
    letter-spacing: 3px;
    margin-top: 0%;
}

.titulo {
    text-align: center;
    font-family: Merriweather;
    color: #3f2519;
    font-size: 55px;
    font-weight: 600;
    margin-top: 30px;
}

.navegacion-principal {
    text-align: center;
    font-family: Merriweather;
    font-style: italic;
    font-size: 22px;
    margin-top: 0%;
}

.contenedor {
      max-width: 120rem;
        margin:0 auto;
    
}

.nav-bg{
        background-color: #3f2519;
        
}

.navegacion-principal a {
        color: #fff;
        text-decoration: none;
        font-weight: bold;
}
         
.navegacion-principal {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
}
        
.navegacion-principal a:hover{
        background-color: #9c7461;
        color: #2e1c13;
}

body{
    background-image: url(/Imagenes/papel1.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.img-cafeto{
    text-align: center;
}
.cafeto{
    width: 60%;
    height: auto;
}

h2{
    font-family: Merriweather, cursive;
    font-size: 30px;
    letter-spacing: 1px;
    margin: 15px;
    padding: 5px;
    text-decoration: underline;
    color: #29160c;
}

p{
    font-family: Open Sans;
    font-weight: 600;
    font-size: 15px;
    margin: 10px 20px;
    text-align: justify;
}

section.galeria{
    margin: 10px 20px;
    box-shadow: 0 4px 8px 0 rgb(58, 19, 19);
    float: left;
    width: 300px;
}

section.galeria img{
    width: 100%;
    height: auto;
}

section.galeria:hover{
    border: 1px solid rgb(105, 33, 33);
    transform: rotate(-3deg);
}

section.pie{
    text-align: center;
    text-shadow: 2px 2px 5px rgb(63, 6, 6);
    padding: 10px;
    background-color: rgb(238, 232, 232);
}

/*FOOTER*/

.pie-pagina{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Meriweather;
    background-color: #2e1c13;
    bottom: 0;
    width: 100%;
    margin-top: auto;
    
}

.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(3, 1fr);
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img{
    width: 150px;
}

.pie-pagina .grupo-1 .box .pie1{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
    font-family: Merriweather, cursive;
    text-decoration: none;
    text-align: center;
}

.pie-pagina .grupo-1 .box .pie2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
    font-family: Merriweather, cursive;
    text-decoration: none;
    padding-left: 30px;
}

.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
    font-family: Open Sans;
    text-align: center;
}

.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    margin-right: 10px;
    background-color: #29160c;
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover{
    color: rgb(138, 138, 138)
}

.pie-pagina .grupo-2{
    background-color: #29160c;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.pie-pagina .grupo-2 small{
    font-size: 15px;
    font-family: Open Sans;
}
